/* ==========================================================================
   Button overrides
   ========================================================================== */

.btn.ntg-btn--secondary:hover {
  background-color: #d6410a;
  box-shadow: 0 0 0 1.5px #d6410a inset;
  color: #fff;
}
